/* ν‘Έν„° */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    /* border-top: 1px solid #ccc; */
}

footer span {
    display: inline-block;
    font-size: 10px;
    padding: 15px;
    vertical-align: middle;
}

footer img {
    position: absolute;
    right: 30px;
    top: 50%;
    height: 40px;
    transform: translateY(-50%);
}