/* 공통 테이블 */
table {
    width: 100%;
}

th {
    color: #8E8E8E;
    background-color: #F0F0F0;
    text-align: center;
    border-bottom: 1px solid #8E8E8E;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #8E8E8E;
}

/* =================================================================================================================================== */

/* 메인 */
.container {
    padding: 10px 30px 0 30px;
    font-size: 0;
}

/* 왼쪽 영역 */
.content-left {
    display: inline-block;
    width: 560px;
    padding-right: 50px;
}

/* 농장 정보 영역*/
.farm-info {
    padding: 30px;
    border-radius: 12px;
    background: linear-gradient(#D6F5D6, #fdfbfb);
    margin-bottom: 20px;
}

.farm-info-title {
    margin-bottom: 10px;
}

.farm-icon {
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    align-content: center;
    font-size: 30px;
    line-height: 50px;
    
}

.farm-info-title span{
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    font-size: 28px;
    font-weight: bold;
}

.farm-info-row div {
    padding: 8px 0;
}

.farm-info-row span:first-child {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    padding-left: 80px;
    border-right: 1px solid #8E8E8E;
    vertical-align: top;
}

.farm-info-row span:last-child {
    display: inline-block;
    padding-left: 10px;
    font-size: 16px;
    vertical-align: top;
}

/* 아이콘 */
.farm-info-icon {
    border-radius: 12px;
    background-color: white;
    padding: 20px 40px;
    margin-top: 20px;
    text-align: justify;
    box-shadow: 5px 5px 10px #ccc;
}

.farm-info-icon::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.farm-info-icon .icon {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    align-content: center;
}

.icon-orange {
    background-color: #FF6A33;
}

.icon-green {
    background-color: #5BD75B;
}

.icon-blue {
    background-color: #52CDF9;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #8E8E8E;
    background-color: #F0F0F0;
    border-radius: 16px;
    padding: 0 20px;
    margin: 0 15px;
}

/* =================================================================================================================================== */

/* 알림 영역 */
.alert-info {
    width: 560px;
    font-size: 14px;
}

/* 탭 */
.tab-buttons {
    font-size: 0;
}

.tab-button {
    display: inline-block;
    width: 50%;
    padding: 10px;
    background: #C6C6C6;
    border: 1px solid #8E8E8E;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    font-size: 14px;
    text-align: center;
}

.tab-button:hover {
    cursor: pointer;
}

.tab-button:first-child {
    border-right: none;
}

.tab-button.active {
    background-color: #D6F5D6;
    color: #8E8E8E;
    font-weight: 600;
}

.tab-content {
    width: 100%;
    border: 1px solid #8E8E8E;
    border-top: none;
    border-radius: 0 0 12px 12px;
    box-sizing: border-box;
    display: none;
}

.tab-content.active {
    display: block;
}


.tab-content th {
    color: #8E8E8E;
    background-color: #F0F0F0;
    text-align: center;
    border-bottom: 1px solid #8E8E8E;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
}

.tab-content td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #8E8E8E;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-content tr:hover {
    background-color: #D6F5D6;
    cursor: pointer;
}

#eventContent th:nth-child(1), #eventContent td:nth-child(1) {
    width: 50px;
}

#eventContent th:nth-child(2), #eventContent td:nth-child(2) {
    width: 200px;
}

#eventContent th:nth-child(3), #eventContent td:nth-child(3) {
    width: 310px;
}

#dischargeContent th:nth-child(1), #dischargeContent td:nth-child(1) {
    width: 50px;
}

#dischargeContent th:nth-child(2), #dischargeContent td:nth-child(2) {
    width: 150px;
}

#dischargeContent th:nth-child(3), #dischargeContent td:nth-child(3) {
    width: 150px;
}

#dischargeContent th:nth-child(4), #dischargeContent td:nth-child(4) {
    width: 210px;
}

.tab-content tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.tab-content tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.tab-content tbody tr:last-child td {
    border-bottom: none;
}
/* =================================================================================================================================== */

/* 오른쪽 영역 */
.content-right {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 560px - 50px);
}

/* 농장 상태 영역 */
.status-container {
    margin-bottom: 20px;
}

.status-container::after{
    content:"";
    display: inline-block;
    width: 100%;
}

/* 상태 */
.status {
    font-size: 0;
    text-align: justify;
}

.status::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.status div {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border-radius: 12px;
    font-size: 14px;
}

.status div:nth-child(1) {
    background-color: #EBF5FF;
    width: 18%;
}

.status div:nth-child(2),
.status div:nth-child(3),
.status div:nth-child(4),
.status div:nth-child(5) {
    background-color: #5BD75B;
    width: 10%;
}

.status div:nth-child(6),
.status div:nth-child(7) {
    width: 7%;
    background-color: #5BD75B;
    text-align: center;
}

.status div span:first-child {
    display: block;
    width: 100%;
    color: #56ACFF;
    padding-bottom: 15px;
}

.status div span:last-child {
    display: block;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #56ACFF;
}

.status div:nth-child(2) span:first-child,
.status div:nth-child(3) span:first-child,
.status div:nth-child(4) span:first-child,
.status div:nth-child(5) span:first-child {
    display: block;
    color: white;
    padding-bottom: 15px;
}

.status div:nth-child(2) span:last-child,
.status div:nth-child(3) span:last-child,
.status div:nth-child(4) span:last-child,
.status div:nth-child(5) span:last-child {
    display: block;
    font-size: 32px;
    font-weight: 600;
    color: yellow;
}

.status div:nth-child(6) span,
.status div:nth-child(7) span {
    color: white;
    text-align: left;
}

.status div i {
    font-size: 18px;
    color: #C6C6C6;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 8px;
    align-content: center;
}

.status div.alarm-background-active {
    background-color: #FF6A33 !important;
}

.status div.fire-background-active {
    background-color: #FF6A33 !important;
}

.status div i.alarm-active {
    color: #FF6A33;
}

.status div i.fire-active {
    color: #FF6A33;
}

/* =================================================================================================================================== */

/* 모듈 데이터 테이블 영역 */
.module-data-table {
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #8E8E8E;
    overflow: hidden;
}

.module-data-scroll {
    max-height: 314px;
    overflow-y: auto;
}

.module-data-table table {
    border-style: hidden;
}

.module-data-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.module-data-table th {
    font-size: 14px;
}

.module-data-table tbody tr:hover {
    background-color: #D6F5D6;
    cursor: pointer;
}

.module-data-table td {
    font-size: 14px;
    padding: 15px;
}

.module-data-table i {
    color: #FF6A33;
}

/* =================================================================================================================================== */

/* 그래프 영역 */
.chart-container {
    position: relative;
    padding: 20px 30px;
    border-radius: 12px;
    border: 1px solid #8E8E8E;
}

.chart-container a{
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 15px;
    background-color: #D6F5D6;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #374151;
    z-index: 1;
}

/* 그래프 */
.chart {
    display: inline-block;
    vertical-align: center;
    width: 100%;
    height: 335px;
}



/* =================================================================================================================================== */

.cellModal {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cellModal.active {
    display: block;
}

.modal-content {
    background-color: #fff;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    overflow: hidden;
}

.modal-header {
    padding: 20px;
    position: relative;
}

.modal-header h2 {
    font-size: 20px;
    font-weight: 600;
    color: #1f2937;
    display: inline-block;
}

.close {
    color: #9ca3af;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 15px;
}

.modal-body {
    padding: 20px;
    background-color: #fff;
    color: #374151;
}

.cellModalContent {
    display: none;
}

#cellModalBody .cellModalContent {
    display: block;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
}

/*.cell-modal-scroll {*/
/*    max-height: 272px;*/
/*    overflow-y: auto;*/
/*    border-radius: 12px;*/
/*}*/

.modal-body table {
    width: 100%;
    border-collapse: collapse;
}

.modal-body table thead {
    position: sticky;
    top: 0;
}

.modal-body table th {
    padding: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: #4ade80;
    border: none;
}

.modal-body table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
    color: #374151;
}


.modal-body table tbody tr:last-child td {
    border-bottom: none;
}

/*====================================================================================================================*/

#popover {
    position: absolute;
    padding: 10px;
    border: 1px solid #C6C6C6;
}