<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://kit.fontawesome.com/16a62b2266.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <div class="header-logo">
            <img th:src="@{/images/logo.png}" alt="로고">
            <div class="header-logo-title">
                <p>제주특별자치도 농업기술원</p>
                <p>서귀포농업기술센터</p>
            </div>
        </div>
        <div class="user-login">
            <span><i class="fa-regular fa-user"></i>qsol님</span>
            <button class="login_button" onclick="">로그아웃</button>
        </div>
    </header>
    <div class="container">
        <div class="content-left">
            <div class="farm-info">
                <th:block th:if="${essInfo != null}">
                    <div class="farm-info-title">
                        <div class="farm-icon"><i class="fa-solid fa-leaf"></i></div>
                        <span th:text = "${essInfo.userName != null ? essInfo.userName + ' 농장' : '-'}"></span>
                    </div>
                    <div class="farm-info-row">
                        <div>
                            <span>ESS 명칭</span>
                            <span th:text = "${essInfo.essName != null ? essInfo.essName : '-'}"></span>
                        </div>
                        <div>
                            <span>사용자명</span>
                            <span th:text = "${essInfo.userName != null ? essInfo.userName : '-'}"></span>
                        </div>
                        <div>
                            <span>설치 위치</span>
                            <span th:text = "${essInfo.installLocation != null ? essInfo.installLocation : '-'}"></span>
                        </div>
                        <div>
                            <span>설치 일자</span>
                            <span th:text = "${essInfo.installDate != null ? #dates.format(essInfo.installDate, 'yyyy.MM.dd') : '-'}"></span>
                        </div>
                    </div>
                </th:block>
                <th:block th:unless="${essInfo != null}">
                    <div class="farm-info-title">
                        <div class="farm-icon"><i class="fa-solid fa-leaf"></i></div>
                        <span>-</span>
                    </div>
                    <div class="farm-info-row">
                        <div>
                            <span>ESS 명칭</span>
                            <span>-</span>
                        </div>
                        <div>
                            <span>사용자명</span>
                            <span>-</span>
                        </div>
                        <div>
                            <span>설치 위치</span>
                            <span>-</span>
                        </div>
                        <div>
                            <span>설치 일자</span>
                            <span>-</span>
                        </div>
                    </div>
                </th:block>

                <div class="farm-info-icon">
                    <div class="icon icon-orange"><i class="fa-solid fa-tower-observation"></i></div>
                    <p class="arrow">>>></p>
                    <div class="icon icon-green"><i class="fa-solid fa-battery-three-quarters"></i></div>
                    <p class="arrow">>>></p>
                    <div class="icon icon-blue"><i class="fa-solid fa-fan"></i></div>
                </div>
            </div>

            <!--이벤트 히스토리-->
            <div class="alert-info">
                <div class="tab-buttons">
                    <button class = "event_1 tab-button active" onclick="switchAlertTab('event_1', this)">이벤트 발생 내역</button>
                    <button class = "event_2 tab-button" onclick="switchAlertTab('event_2', this)">방전 내역</button>
                    <!--<button class = "event_1 tab-button active" onclick="switchAlertTab('event', this)">이벤트 발생 내역</button>
                    <button class = "event_2 tab-button" onclick="switchAlertTab('discharge', this)">방전 내역</button>-->
                </div>
                <div class="event_1 tab-content active" id="eventContent">
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>발생시간</th>
                                <th>발생내용</th>
                            </tr>
                        </thead>
                        <tbody th:with="size = ${eventHistory == null ? 0 : #lists.size(eventHistory)}">
                            <tr th:each = "event, status : ${eventHistory}">
                                <td th:text = "${status.count}"></td>
                                <td th:text = "${event.eventDt != null ? #temporals.format(event.eventDt, 'yyyy-MM-dd HH:mm:ss') : '-'}"></td>
                                <td th:text = "${event.eventDesc != null ? event.eventDesc : '-'}"></td>
                            </tr>

                            <tr th:if = "${size < 9}" th:each = "i : ${#numbers.sequence(1, 9 - size)}">
                                <td colspan = "3">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="event_2 tab-content" id="dischargeContent">
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>시작시간</th>
                                <th>종료시간</th>
                                <th>방전시간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2026-01-01 11:11:11</td>
                                <td>2026-01-01 11:11:11</td>
                                <td>2026-01-01 11:11:11</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2025-12-30 01:31:25</td>
                                <td>2026-01-01 11:11:11</td>
                                <td>2026-01-01 11:11:11</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2025-12-31 01:35:25</td>
                                <td>2026-01-01 11:11:11</td>
                                <td>2026-01-01 11:11:11</td>
                            </tr>
                            <tr>
                                <td colspan="4">-</td>
                            </tr>
                            <tr>
                                <td colspan="4">-</td>
                            </tr>
                            <tr>
                                <td colspan="4">-</td>
                            </tr>
                            <tr>
                                <td colspan="4">-</td>
                            </tr>
                            <tr>
                                <td colspan="4">-</td>
                            </tr>
                            <tr>
                                <td colspan="4">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--랙 상태-->
        <div class="content-right">
            <div class="status-container">
                <div class="status">
                    <div>
                        <span>상태</span>
                        <span th:text = "${rackStatusInfo != null ? rackStatusInfo.mbmsStatus : '-'}"></span>
                    </div>
                    <div>
                        <span>충전량</span>
                        <span th:text = "${rackStatusInfo != null and rackStatusInfo.rackSoc != null ? rackStatusInfo.rackSoc + '%' : '-'}"></span>
                    </div>
                    <div>
                        <span>전압</span>
                        <span th:text = "${rackStatusInfo != null and rackStatusInfo.rackDcVoltage != null ? rackStatusInfo.rackDcVoltage + 'V' : '-'}"></span>
                    </div>
                    <div>
                        <span>온도</span>
                        <span th:text = "${rackStatusInfo != null and rackStatusInfo.rackTemperature != null ? rackStatusInfo.rackTemperature + '˚C' : '-'}"></span>
                    </div>
                    <div>
                        <span>전류</span>
                        <span th:text = "${rackStatusInfo != null and rackStatusInfo.rackCurrent != null ? rackStatusInfo.rackCurrent + 'A' : '-'}"></span>
                    </div>
                    <div>
                        <span>알람 유무</span>
                        <i class="fa-solid fa-triangle-exclamation" th:classappend="${rackStatusInfo != null and rackStatusInfo.hasAlarm == true ? 'alarm-active' : ''}"></i>
                    </div>
                    <div>
                        <span>화재감지</span>
                        <i class="fa-solid fa-fire" th:classappend="${fireStatusInfo != null and fireStatusInfo.fireStatus == 1 ? 'fire-active' : ''}"></i>
                    </div>
                </div>
            </div>

            <!--모듈 테이블-->
            <div class="module-data-table">
                <div class="module-data-scroll">
                    <table>
                        <thead>
                            <tr>
                                <th>모듈번호</th>
                                <th>상태</th>
                                <th>전압[V]</th>
                                <th>최대 셀 전압[V]</th>
                                <th>최소 셀 전압[V]</th>
                                <th>온도[˚C]</th>
                                <th>알람 유무</th>
                            </tr>
                        </thead>
                        <tbody th:if="${essInfo != null}" th:with="size = ${moduleInfo == null ? 0 : #lists.size(moduleInfo)}">
                            <tr th:each="module : ${moduleInfo}" th:onclick="|openCellModal(${essInfo.essId}, ${module.moduleId})|">
                                <td th:text="${module.moduleId != null ? module.moduleId : '-'}"></td>
                                <td th:text="${!#strings.isEmpty(module.batteryModuleStatus) ? module.batteryModuleStatus : '-'}"></td>
                                <td th:text="${module.moduleDcVoltage != null ? module.moduleDcVoltage : '-'}"></td>
                                <td th:text="${module.maxCellVoltage != null ? module.maxCellVoltage : '-'}"></td>
                                <td th:text="${module.minCellVoltage != null ? module.minCellVoltage : '-'}"></td>
                                <td th:text="${module.avgModuleTemperature != null ? module.avgModuleTemperature : '-'}"></td>
                                <td>
                                    <i class="fa-solid fa-triangle-exclamation" th:if="${module.hasAlarm == true}"></i>
                                    <span th:if="${module.hasAlarm != true}">-</span>
                                </td>
                            </tr>

                            <tr th:if="${size < 6}" th:each = "i : ${#numbers.sequence(1, 6 - size)}">
                                <td colspan = "7">-</td>
                            </tr>
                        </tbody>

                        <tbody th:unless="${essInfo != null}">
                        <tr th:each="i : ${#numbers.sequence(1, 6)}">
                            <td colspan="7">-</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <!--차트-->
            <div class="chart-container">
                <div class="chart-header">
                    <span>일일 데이터 조회</span>
                    <span>Rack 그래프</span>
                    <span>2026-01-06</span>
                </div>
                <div class="chart">
                    <div class="voltage">
                        <p>60.0 V</p>
                        <p>50.0 V</p>
                        <p>40.0 V</p>
                        <p>30.0 V</p>
                    </div>
                    <div class="graph">
                        그래프
                    </div>
                    <div class="current">
                        <p>45.0 A</p>
                        <p>30.0 A</p>
                        <p>15.0 A</p>
                        <p>0.0 A</p>
                    </div>
                    <div class="temperature">
                        <p>45.0 ˚C</p>
                        <p>30.0 ˚C</p>
                        <p>15.0 ˚C</p>
                        <p>0.0 ˚C</p>
                    </div>
                    <div class="time">
                        <span>08:51</span>
                        <span>09:16</span>
                        <span>09:41</span>
                        <span>10:07</span>
                        <span>10:32</span>
                        <span>10:56</span>
                        <span>11:22</span>
                        <span>11:46</span>
                        <span>12:11</span>
                        <span>12:36</span>
                        <span>13:00</span>
                        <span>13:25</span>
                        <span>13:50</span>
                        <span>14:14</span>
                    </div>
                </div>
                <div class="chart-legend">
                    <span><i class="fa-solid fa-code-commit"></i>전압(V)</span>
                    <span><i class="fa-solid fa-code-commit"></i>전류(A)</span>
                    <span><i class="fa-solid fa-code-commit"></i>온도(˚C)</span>
                </div>
            </div>
        </div>
    </div>

    <div id="cellModal" class="cellModal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Cell 정보</h2>
                <span class="close" onclick="closeCellModal()">&times;</span>
            </div>
            <div class="modal-body" id="cellModalBody">
            </div>
        </div>
    </div>


    <div th:fragment="cellModalContent" class="cellModalContent">
        <div class="cell-modal-scroll">
            <table>
                <thead>
                    <tr>
                        <th>모듈 번호</th>
                        <th>셀 번호</th>
                        <th>전압</th>
                    </tr>
                </thead>
                <tbody th:with="size = ${cellInfo == null ? 0 : #lists.size(cellInfo) }">
                    <tr th:each="cell : ${cellInfo}">
                        <td th:text="${cell.moduleId != null ? cell.moduleId : '-'}"></td>
                        <td th:text="${cell.cellId != null ? cell.cellId : '-'}"></td>
                        <td th:text="${cell.voltage != null ? cell.voltage : '-'}"></td>
                    </tr>
                    <tr th:if="${size < 6}" th:each = "i : ${#numbers.sequence(1, 6 - size)}">
                        <td colspan="3">-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <span>ⓒ 2023 Quantum Solution. ALL RIGHTS RESERVED.</span>
        <img th:src="@{/images/footer_logo.png}" alt="로고">
    </footer>
<script th:src="@{/javascript/main.js}"></script>
</body>
</html>